<div class="container-fluid">
    <form [formGroup]="loginForm">
        <div class="login_container">
            <h4 class="text-center mb-2">Online Assessment</h4>
            <div class="input-group mb-3">
                <div class="input-group-text">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <input type="text" class="form-control" placeholder="Username" formControlName="username" aria-label="Text input with checkbox">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-text">
                    <i class="fa fa-key" aria-hidden="true"></i>
                </div>
                <input type="password" class="form-control" formControlName="password" placeholder="Password"
                    aria-label="Text input with radio button">
            </div>
            <div class="text-warning mb-2" *ngIf="isLoginClicked && !service.loggedIn">
                Incorrect username or password
            </div>

            <div class="form-group text-center">
                <button type="button" class="btn btn-primary mx-2" (click)="loginUser($event)">Login</button>                
            </div>

        </div>
    </form>
</div>

